.ipynb_checkpoints/
*__pycache__*
*.DS_Store*
*/log/*
*/img/*
*/nvt/*
*nvt_600K*
figures/
scripts/
/wandb/

*.png*
*.pdf*
*.dat*
*.pdb*
*.log*
*.pt
*.pt*
*.cpt*
*.edr*
*.gro*
*.tpr*

*COLVAR*
*STATE*
*HILLS*
*KERNELS*
*DEBUG*
*DELTAFS*